{% extends 'base.html' %}

{% block content %}
<div class="jumbotron bg-primary text-white text-center py-5">
    <h1 style="color: white;">Bienvenido a MuSeeker</h1>
    <p class="lead">Descubre nueva música y guarda tus álbumes favoritos.</p>
</div>

<section class="bg-light py-5">
    <div class="container text-center">
        <h3>Empezar</h3>
        <p>Antes de comenzar a explorar álbumes y recomendaciones, necesitas cargar los datos.</p>
        <p>Esto asegurará que tengas acceso a los últimos conocimientos musicales y sugerencias personalizadas según tus gustos.</p>
        <div class="mt-4">
            <a href="{% url 'load_data' %}" class="btn btn-primary btn-lg">Cargar datos</a>
        </div>
    </div>
</section>

{% endblock %}
