{% extends 'base.html' %}

{% block content %}
<div class="jumbotron bg-primary text-white text-center py-5">
    <h1 style="color: white;">Welcome to MuSeeker</h1>
    <p class="lead">Your gateway to discovering and enjoying music like never before.</p>
</div>

<section class="bg-light py-5">
    <div class="container text-center">
        <h3>Getting Started</h3>
        <p>Before you dive into exploring albums and recommendations, you need to load the data and initialize the recommendation system.</p>
        <p>This will ensure that you have access to the latest music insights and personalized suggestions tailored to your taste.</p>
        <div class="mt-4">
            <a href="{% url 'load_data' %}" class="btn btn-primary btn-lg">Load Data</a>
            <a href="#" class="btn btn-secondary btn-lg">Initialize Recommendations</a>
        </div>
    </div>
</section>

<section class="bg-dark text-white py-5">
    <div class="container text-center">
        <h3>Need Help?</h3>
        <p>If you encounter any issues or need assistance, visit our <a href="#" class="text-warning">Help Center</a>.</p>
    </div>
</section>
{% endblock %}
