{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-4">Lista de Álbumes</h2>
    <div class="row">
        {% for album in albums %}
            <div class="col-md-4">
                <div class="album-card">
                    <div class="album-card-body">
                        <h5 class="album-card-title">
                            <a href="{% url 'album_detail' album.id %}" class="text-decoration-none">{{ album.title }}</a>
                        </h5>
                        <p class="album-card-text"><strong>Artista:</strong> {{ album.artist }}</p>
                        <p class="album-card-text"><strong>Fecha de Lanzamiento:</strong> {{ album.release_date }}</p>
                        <p class="album-card-text"><strong>Géneros:</strong>
                            {% for genre in album.genres %}
                                <span class="badge bg-secondary me-1">{{ genre }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No se encontraron álbumes.</p>
        {% endfor %}
    </div>
{% endblock %}