{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-4">Mis favoritos</h2>
    <div class="row">
        {% for album in albums %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'album_detail' album.id %}" class="text-decoration-none">{{ album.title }}</a>
                        </h5>
                        <p class="card-text"><strong>Artista:</strong> {{ album.artist }}</p>
                        <p class="card-text"><strong>Fecha de Lanzamiento:</strong> {{ album.release_date }}</p>
                        <p class="card-text"><strong>Géneros:</strong> {{ album.genres }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Todavía no has añadido ningún álbum a favoritos.</p>
        {% endfor %}
    </div>
{% endblock %}