{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">Recomendaciones</h2>
        
        <div class="mb-3">
            <h5>Recomendaciones basadas en tus Géneros Favoritos</h5>
            <div>
                {% for genre in genres %}
                    <span class="badge bg-primary me-1">{{ genre }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            {% for album in albums %}
                <div class="col-md-4">
                    <!-- Tarjeta del álbum -->
                    <div class="album-card">
                        <div class="album-card-body">
                            <h5 class="album-card-title">
                                <a href="{% url 'album_detail' album.id %}" class="text-decoration-none">
                                    {{ album.title }}
                                </a>
                            </h5>
                            <p class="album-card-text"><strong>Artista:</strong> {{ album.artist }}</p>
                            <p class="album-card-text"><strong>Fecha de Lanzamiento:</strong> {{ album.release_date }}</p>
                            <p class="album-card-text"><strong>Géneros:</strong>
                                {% for genre in album.genres %}
                                    <span class="badge bg-secondary me-1">{{ genre }}</span>
                                {% endfor %}
                            </p>
                            <hr>
                            <a href="{% url 'album_detail' album.id %}" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay recomendaciones disponibles.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
