{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center">Search for Albums</h2>

    <form method="get" action="{% url 'search' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="q" placeholder="Search albums..." value="{{ query }}">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    {% if results %}
    <div class="mt-4">
        <h3>Search Results</h3>
        <ul class="list-group">
            {% for album in results %}
            <div class="col-md-4">
                <div class="album-card" style="background-image: url('{{ album.img }}');">
                    <div class="album-overlay">
                        <div class="album-card-body">
                            <h5 class="album-card-title">
                                <a href="{% url 'album_detail' album.id %}" class="text-decoration-none">
                                    {{ album.title }}
                                </a>
                            </h5>
                            <p class="album-card-text"><strong>Artista:</strong> {{ album.artist }}</p>
                            <p class="album-card-text"><strong>Fecha de Lanzamiento:</strong> {{ album.release_date }}</p>
                            <p class="album-card-text"><strong>Géneros:</strong>
                                {% for genre in album.genres %}
                                    <span class="badge bg-secondary me-1">{{ genre }}</span>
                                {% endfor %}
                            </p>
                            <hr>
                            <a href="{% url 'album_detail' album.id %}" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        {% if query == "" %}
            <p>Enter a search query to find albums.</p>
        {% else %}
            <p>No results found for "{{ query }}".</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
